# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
vehicles_env/
.env

# Jupyter
.ipynb_checkpoints/

# Streamlit (cache)
.streamlit/

# VS Code / SO
.vscode/
.DS_Store
Thumbs.db
